/* CSS declarations go here */
.container-center {
  min-height: 70%;
  min-height: 70vh;

  display: flex;
  align-items: center;
}

.login {
  height: 200px;
  width: 300px;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.error {
  color: red;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

#dropzone {
  width: 100%;
  height: 150px;
  display: flex;
  font-size: 30px;
  color: #777;
  align-items: center;
  justify-content: center;
}
