/* CSS declarations go here */
.container-center {
  min-height: 70%;
  min-height: 70vh;

  display: flex;
  align-items: center;
}

.login {
  height: 200px;
  width: 300px;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.error {
  color: red;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

#dropzone {
  width: 100%;
  height: 150px;
  display: flex;
  font-size: 30px;
  color: #777;
  align-items: center;
  justify-content: center;
}

#dropzoneFile {
  display: none;
}

.progress {
  position: relative;
}

.progress span {
  position: absolute;
  display: block;
  width: 100%;
  color: black;
  font-weight: bold;
}

.progress-bar {
  background-color: #3B9FF5;
}

.danger {
  color: red;
}

#copyText {
  margin-bottom: 7px;
  height: 200px;
  white-space: nowrap;
  cursor: default;
}

#copyForm input[type="checkbox"] {
  margin-left: 10px !important;
}

#copyForm .control-label {
  text-align: left;
  white-space: nowrap;
  font-size: 12px;
}

.checkbox-group {
  padding-left: 0;
  padding-right: 0;
}

#currentFile .modal-dialog {
  width: 1000px;
}

#currentFile .modal-dialog {
  outline: none;
}

.popoverLabel, .popoverLabel:hover {
  color: #333;
}

.docs {
  margin-top: 15px;
}

.badge {
  min-width: 80px;
}
